<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596207873143-l6ssc343duf2ujrfo24hjqa84cep2ujv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596207873143-l6ssc343duf2ujrfo24hjqa84cep2ujv</string>
	<key>API_KEY</key>
	<string>AIzaSyCjxE-h201qgeMIiHs6zp5gsObY2JXrRoM</string>
	<key>GCM_SENDER_ID</key>
	<string>596207873143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applist.applist</string>
	<key>PROJECT_ID</key>
	<string>todolist-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596207873143:ios:b4ed1d8f13b3e56463aa72</string>
</dict>
</plist>